:root {
  --blue-light: #46c8e1;
  --yellow-title: #ffe500;
  --dark-title: #333f48;
  --gray-text: #6f7170;
  --dark-background: #222c30;
  --h-s1: 700px;
  --h-s2: 350px;
  --h-s3: 600px;
  --h-s4: 500px;
  --h-s5: 300px;
}
